table {
  border: solid 2px brown;
  width: 750px;
}

td, th {
  background-color: rgba(173, 110, 16, 0.3);
  width: 80px;
}


.sinStock{
  background-color: yellow;
  padding-right: 21px;
  padding-left: 18px;
  padding-bottom: 2px;
  border-radius: 15px;
}

.clearence {
  border: solid green 2px;
  background-color: rgb(83, 204, 83);
}

.btn-agregar{
  background-color: rgb(219, 160, 83);
  border-radius: 3px;
  border-style: none;
  border: 1px rgb(197, 183, 143) solid;
  margin-left: 22px;
  margin-right: -4px;
}


