.quantityBuy{
  width: 40px;
  margin-left: 4px;
}

button{
  background-color: rgb(194, 195, 255);
  border-radius: 3px;
  border-style: none;
  border: 1px rgb(26, 9, 65) solid;
  margin-left: 4px;
}
